In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [5]:

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

In [6]:
import pandasql as psql


df = pd.read_csv(r"C:\Users\NIKITHA PAGADALA\ML\Concrete_Data_V2.0.csv", header=0)

# Copy the file to back-up file

df_bk = df.copy()

# Display first 5 records

df.tail()

,Test_ID,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
1025,K7956,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,D1659,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,L4924,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,I5322,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,D5509,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Test_ID           1030 non-null   object
 1   Cement            1030 non-null   float64
 2   Slag              1030 non-null   float64
 3   Flyash            1030 non-null   float64
 4   Water             1030 non-null   float64
 5   SuperPlasticizer  1030 non-null   float64
 6   CoarseAggregate   1030 non-null   float64
 7   FineAggregate     1030 non-null   float64
 8   Age               1030 non-null   int64
 9   CSinMPa           1030 non-null   float64
dtypes: float64(8), int64(1), object(1)
memory usage: 80.6+ KB

In [8]:
df['Cement']=df['Cement'].astype(int)
df['Slag']=df['Slag'].astype(int)
df['Flyash']=df['Flyash'].astype(int)
df['Water']=df['Water'].astype(int)
df['SuperPlasticizer']=df['SuperPlasticizer'].astype(int)
df['CoarseAggregate']=df['CoarseAggregate'].astype(int)
df['FineAggregate']=df['FineAggregate'].astype(int)
df['CSinMPa']=df['CSinMPa'].astype(int)
df

,Test_ID,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,C3417,540,0,0,162,2,1040,676,28,79
1,P7675,540,0,0,162,2,1055,676,28,61
2,Y5697,332,142,0,228,0,932,594,270,40
3,R3821,332,142,0,228,0,932,594,365,41
4,P3773,198,132,0,192,0,978,825,360,44
...,...,...,...,...,...,...,...,...,...,...
1025,K7956,276,116,90,179,8,870,768,28,44
1026,D1659,322,0,115,196,10,817,813,28,31
1027,L4924,148,139,108,192,6,892,780,28,23
1028,I5322,159,186,0,175,11,989,788,28,32
1029,D5509,260,100,78,200,8,864,761,28,32

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Test_ID           1030 non-null   object
 1   Cement            1030 non-null   int32
 2   Slag              1030 non-null   int32
 3   Flyash            1030 non-null   int32
 4   Water             1030 non-null   int32
 5   SuperPlasticizer  1030 non-null   int32
 6   CoarseAggregate   1030 non-null   int32
 7   FineAggregate     1030 non-null   int32
 8   Age               1030 non-null   int64
 9   CSinMPa           1030 non-null   int32
dtypes: int32(8), int64(1), object(1)
memory usage: 48.4+ KB

In [10]:
df.isnull().sum()

Test_ID             0
Cement              0
Slag                0
Flyash              0
Water               0
SuperPlasticizer    0
CoarseAggregate     0
FineAggregate       0
Age                 0
CSinMPa             0
dtype: int64

In [11]:
del df['Test_ID']

In [12]:
CSinPa_UL=round(df.CSinMPa.mean()+3*df.CSinMPa.std(),3)
CSinPa_LL=round(df.CSinMPa.mean()-3*df.CSinMPa.std(),3)

In [13]:
df_new= df[(df.CSinMPa>CSinPa_LL)&(df.CSinMPa<CSinPa_UL)]
df=df_new

In [14]:
df=df.drop_duplicates()

In [15]:
df.reset_index(drop='True')

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,540,0,0,162,2,1040,676,28,79
1,540,0,0,162,2,1055,676,28,61
2,332,142,0,228,0,932,594,270,40
3,332,142,0,228,0,932,594,365,41
4,198,132,0,192,0,978,825,360,44
...,...,...,...,...,...,...,...,...,...
991,276,116,90,179,8,870,768,28,44
992,322,0,115,196,10,817,813,28,31
993,148,139,108,192,6,892,780,28,23
994,159,186,0,175,11,989,788,28,32
995,260,100,78,200,8,864,761,28,32

In [16]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Cement,996.0,278.005020,104.398459,102.0,190.0,263.0,343.75,540.0
Slag,996.0,72.413655,86.172082,0.0,0.0,20.0,142.00,359.0
Flyash,996.0,55.670683,64.140878,0.0,0.0,0.0,118.00,200.0
Water,996.0,181.798193,21.528675,121.0,166.0,185.0,192.00,247.0
SuperPlasticizer,996.0,5.804217,5.788988,0.0,0.0,6.0,10.00,32.0
CoarseAggregate,996.0,973.877510,77.112716,801.0,932.0,968.0,1029.00,1145.0
FineAggregate,996.0,772.365462,80.589542,594.0,724.0,779.5,824.00,992.0
Age,996.0,46.060241,63.980732,1.0,7.0,28.0,56.00,365.0
CSinMPa,996.0,34.803213,16.318668,2.0,23.0,33.0,45.00,82.0

In [17]:
TargetVar='CSinMPa'
independent_var=[]
for col in df.columns:
    if col!='CSinMPa':
        independent_var.append(col)

x=df[independent_var]
y=df[TargetVar]

In [18]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
x_train.shape,x_test.shape

((697, 8), (299, 8))

In [19]:
df.columns

Index(['Cement', 'Slag', 'Flyash', 'Water', 'SuperPlasticizer',
       'CoarseAggregate', 'FineAggregate', 'Age', 'CSinMPa'],
      dtype='object')

In [20]:
from sklearn.preprocessing import MinMaxScaler
mmscaler=MinMaxScaler(feature_range=(0,1))
x_train[independent_var]=mmscaler.fit_transform(x_train[independent_var])
x_train = pd.DataFrame(x_train)

x_test[independent_var] = mmscaler.fit_transform(x_test[independent_var])
x_test = pd.DataFrame(x_test)

In [21]:
x_test

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age
190,0.299087,0.000000,0.482051,0.710280,0.142857,0.438438,0.648241,0.035714
426,0.162100,0.259053,0.815385,0.476636,0.321429,0.618619,0.381910,0.035714
151,0.682648,0.261838,0.000000,0.242991,0.392857,0.435435,0.648241,0.151099
324,0.342466,0.000000,0.502564,0.233645,0.500000,0.558559,0.741206,0.005495
808,0.342466,0.000000,0.000000,0.607477,0.000000,0.930931,0.477387,0.016484
...,...,...,...,...,...,...,...,...
464,0.148402,0.208914,0.856410,0.401869,0.250000,0.618619,0.442211,0.271978
288,0.180365,0.000000,0.856410,0.448598,0.250000,0.762763,0.459799,0.271978
59,0.525114,0.395543,0.000000,1.000000,0.000000,0.393393,0.000000,0.074176
72,0.737443,0.295265,0.000000,0.299065,0.571429,0.153153,0.736181,0.005495
932,0.118721,0.484680,0.948718,1.000000,0.250000,0.132132,0.045226,0.074176

In [22]:
from sklearn.linear_model import LinearRegression
ModelRGR = LinearRegression()
ModelRGR.fit(x_train, y_train)
y_pred = ModelRGR.predict(x_test)
from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
print('R2_score:', round(metrics.r2_score(y_test, y_pred),6)) 
print('Mean Absolute Percentage Error (MAPE):', round(metrics.mean_absolute_percentage_error(y_test, y_pred)*100,3), '%')
print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))

Mean Absolute Error (MAE): 8.352
Mean Squared Error (MSE): 104.688
Root Mean Squared Error (RMSE): 10.232
R2_score: 0.585095
Mean Absolute Percentage Error (MAPE): 30.323 %
Root Mean Squared Log Error (RMSLE): 2.325

In [23]:
# Display the Final results 

Results = pd.DataFrame({'Expenses_A':y_test, 'Expenses_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal =df_bk.merge(Results, left_index=True, right_index=True)

# Display 10 records randomly

ResultsFinal.sample(10)

,Test_ID,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa,Expenses_A,Expenses_P
658,X7765,305.3,203.5,0.0,203.5,0.0,965.4,631.0,7,25.89,25,33.146365
601,S6778,339.0,0.0,0.0,197.0,0.0,968.0,781.0,28,32.04,32,22.403151
83,O7744,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30,35,49.758686
19,G1786,475.0,0.0,0.0,228.0,0.0,932.0,594.0,180,42.62,42,47.312909
1,P7675,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89,61,52.619197
910,U9353,144.0,136.0,106.0,178.0,7.0,941.0,774.0,28,26.14,26,27.156765
49,C3152,380.0,95.0,0.0,228.0,0.0,932.0,594.0,7,32.82,32,25.586275
517,N3110,202.0,11.0,141.0,206.0,1.7,942.0,801.0,7,15.07,15,15.718471
713,V3417,157.0,236.0,0.0,192.0,0.0,935.4,781.2,3,9.69,9,22.331607
885,T6951,153.0,145.0,113.0,178.0,8.0,867.0,824.0,28,26.23,26,29.761247

In [27]:

rgr_results= pd.read_csv(r"RGRResults.csv", header=0)
rgr_results

Empty DataFrame
Columns: [Model Name, Mean_Absolute_Error_MAE, Adj_R_Square, Root_Mean_Squared_Error_RMSE, Mean_Absolute_Percentage_Error_MAPE, Mean_Squared_Error_MSE, Root_Mean_Squared_Log_Error_RMSLE, R2_score]
Index: []

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import BayesianRidge
#import xgboost as xgb
#from sklearn.ensemble import BaggingRegressor
#from sklearn.ensemble import GradientBoostingRegressor

# Create objects of Regression / Regressor models with default hyper-parameters

ModelMLR = LinearRegression()
ModelDCR = DecisionTreeRegressor()
ModelRFR = RandomForestRegressor()
ModelETR = ExtraTreesRegressor()
ModelSVR = SVR()
ModelKNN = KNeighborsRegressor(n_neighbors=5)
ModelBRR = BayesianRidge()
#modelXGR = xgb.XGBRegressor()
#modelBGR = BaggingRegressor()
#modelGBR = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100, subsample=1.0,
#                                     criterion='friedman_mse', min_samples_split=2, min_samples_leaf=1,
#                                     min_weight_fraction_leaf=0.0, max_depth=3, min_impurity_decrease=0.0,
#                                     min_impurity_split=None, init=None, random_state=None, max_features=None,
#                                     alpha=0.9, verbose=0, max_leaf_nodes=None, warm_start=False,
#                                     validation_fraction=0.1, n_iter_no_change=None, tol=0.0001, ccp_alpha=0.0)

# Evalution matrix for all the algorithms

#MM = [modelmlg, modeldcr, modelrfr, modelSVR, modelXGR, modelKNN, modelETR, modelBRR, modelBGR, modelGBR]
MM = [ModelMLR, ModelDCR, ModelRFR, ModelETR, ModelSVR, ModelKNN, ModelBRR]

for models in MM:
    
    # Fit the model with train data
    
    models.fit(x_train, y_train)
    
    # Predict the model with test data

    y_pred = models.predict(x_test)
    
    # Print the model name
    
    print('Model Name: ', models)
    
    # Evaluation metrics for Regression analysis

    from sklearn import metrics

    print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
    print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
    print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
    print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
    print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))
    
    # Define the function to calculate the MAPE - Mean Absolute Percentage Error
    def MAPE (y_test, y_pred):
        y_test, y_pred = np.array(y_test), np.array(y_pred)
        return np.mean(np.abs((y_test - y_pred) / y_test)) * 100
    
    # Evaluation of MAPE 

    result = MAPE(y_test, y_pred)
    print('Mean Absolute Percentage Error (MAPE):', round(result, 2), '%')
    
    # Calculate Adjusted R squared values 

    r_squared = round(metrics.r2_score(y_test, y_pred),6)
    adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
    print('Adj R Square: ', adjusted_r_squared)
    print('------------------------------------------------------------------------------------------------------------')
    #-------------------------------------------------------------------------------------------
    new_row = {'Model Name' : models,
               'Mean_Absolute_Error_MAE' : metrics.mean_absolute_error(y_test, y_pred),
               'Adj_R_Square' : adjusted_r_squared,
               'Root_Mean_Squared_Error_RMSE' : np.sqrt(metrics.mean_squared_error(y_test, y_pred)),
               'Mean_Absolute_Percentage_Error_MAPE' : result,
               'Mean_Squared_Error_MSE' : metrics.mean_squared_error(y_test, y_pred),
               'Root_Mean_Squared_Log_Error_RMSLE': np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),
               'R2_score' : metrics.r2_score(y_test, y_pred)}
    rgr_results = rgr_results._append(new_row, ignore_index=True)

Model Name:  LinearRegression()
Mean Absolute Error (MAE): 8.352
Mean Squared Error (MSE): 104.688
Root Mean Squared Error (RMSE): 10.232
R2_score: 0.585095
Root Mean Squared Log Error (RMSLE): 2.325
Mean Absolute Percentage Error (MAPE): 30.32 %
Adj R Square:  0.581732
------------------------------------------------------------------------------------------------------------
Model Name:  DecisionTreeRegressor()
Mean Absolute Error (MAE): 6.134
Mean Squared Error (MSE): 75.779
Root Mean Squared Error (RMSE): 8.705
R2_score: 0.699667
Root Mean Squared Log Error (RMSLE): 2.164
Mean Absolute Percentage Error (MAPE): 20.42 %
Adj R Square:  0.697233
------------------------------------------------------------------------------------------------------------
Model Name:  RandomForestRegressor()
Mean Absolute Error (MAE): 4.342
Mean Squared Error (MSE): 36.743
Root Mean Squared Error (RMSE): 6.062
R2_score: 0.854378
Root Mean Squared Log Error (RMSLE): 1.802
Mean Absolute Percentage Error (MAPE): 13.98 %
Adj R Square:  0.853198
------------------------------------------------------------------------------------------------------------
Model Name:  ExtraTreesRegressor()
Mean Absolute Error (MAE): 4.039
Mean Squared Error (MSE): 28.01
Root Mean Squared Error (RMSE): 5.292
R2_score: 0.888988
Root Mean Squared Log Error (RMSLE): 1.666
Mean Absolute Percentage Error (MAPE): 13.84 %
Adj R Square:  0.888088
------------------------------------------------------------------------------------------------------------
Model Name:  SVR()
Mean Absolute Error (MAE): 8.52
Mean Squared Error (MSE): 108.866
Root Mean Squared Error (RMSE): 10.434
R2_score: 0.568533
Root Mean Squared Log Error (RMSLE): 2.345
Mean Absolute Percentage Error (MAPE): 35.23 %
Adj R Square:  0.565036
------------------------------------------------------------------------------------------------------------
Model Name:  KNeighborsRegressor()
Mean Absolute Error (MAE): 7.36
Mean Squared Error (MSE): 88.261
Root Mean Squared Error (RMSE): 9.395
R2_score: 0.650198
Root Mean Squared Log Error (RMSLE): 2.24
Mean Absolute Percentage Error (MAPE): 27.75 %
Adj R Square:  0.647363
------------------------------------------------------------------------------------------------------------
Model Name:  BayesianRidge()
Mean Absolute Error (MAE): 8.374
Mean Squared Error (MSE): 104.751
Root Mean Squared Error (RMSE): 10.235
R2_score: 0.584843
Root Mean Squared Log Error (RMSLE): 2.326
Mean Absolute Percentage Error (MAPE): 30.19 %
Adj R Square:  0.581478
------------------------------------------------------------------------------------------------------------

In [32]:
rgr_results.head()

,Model Name,Mean_Absolute_Error_MAE,Adj_R_Square,Root_Mean_Squared_Error_RMSE,Mean_Absolute_Percentage_Error_MAPE,Mean_Squared_Error_MSE,Root_Mean_Squared_Log_Error_RMSLE,R2_score
0,LinearRegression(),8.351882,0.581732,10.231693,30.322710,104.687547,2.325490,0.585095
1,DecisionTreeRegressor(),6.133779,0.697233,8.705129,20.422119,75.779264,2.163912,0.699667
2,"(DecisionTreeRegressor(max_features=1.0, rando...",4.341750,0.853198,6.061590,13.978535,36.742878,1.801972,0.854378
3,"(ExtraTreeRegressor(random_state=315628254), E...",4.038517,0.888088,5.292473,13.844200,28.010270,1.666286,0.888988
4,SVR(),8.519631,0.565036,10.433910,35.226730,108.866476,2.345061,0.568533